@{
    ViewData["Title"] = "Sobre Nosotros";
}
<div class="about" style="padding-bottom: 200px;">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="about_img">
                    <figure><<img src="@Url.Content("~/images/about_img.png")" alt="Imagen de Zumitos" /></figure>
                </div>
            </div>
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>¿Quiénes somos?</h2>
                    <p>
                        Zumitos es una empresa basada en la empresa real Zumito. En este proyecto se ha decidido tomar esta empresa como base ya que el hacer uso de productos reales facilita el proceso de desarrollo del proyecto, brindandonos tiempo de enfocarnos mas en la logica y aun asi brindar un buen diseño al programa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
